html,
body {
    margin: 0;
    padding: 0;
}
* {
    white-space: pre-wrap;
}
body {
    background-color: #010a1a;
}
html {
    color: #f0e6d2;

    font-family: "Times New Roman", Times, serif;
    letter-spacing: 0.5pc;
    font-size: 1.5pc;
}

ul {
    margin-top: 5%;
    list-style-type: none;

    padding-inline-start: 0;

    text-align: center;
}

li {
    margin-top: 25pt;
    transition: 1s;
    cursor: pointer;
}

li:hover {
    letter-spacing: 0.75pc;
}

div {
    display: none;
}
h1 {
    width: 100%;
    font-weight: 900;

    text-align: center;
}

hr {
    border-color: #f0e6d2;
    margin: 0 20%;
}
