* {
    text-align: center;
}

body {
    margin: 0;
    padding: 0;

    font-family: Gelasio, Georgia, "Times New Roman", serif;

    color: #e6e6e6;
    background-color: #181f31;
}

hr {
    width: 650px;
    border-color: #f2dabd;
}

h1 {
    font-size: 2.5em;
}

header > div {
    margin: 25px auto;
    color: #f2dabd;
    font-size: 0.9em;
}

input,
select {
    margin: 10px;
    font-size: 1.1em;
    width: 150px;
    background-color: #181f31;
    color: #e6e6e6;

    border: none;
}
footer {
    margin-bottom: 50px;
}
article {
    margin: 100px auto;
    line-height: 1.5em;
    font-size: 1em;

    width: 600px;

    text-align: justify;
    white-space: pre-wrap;

    transition: opacity 1s;
}

input[type="button"] {
    width: 250px;
    height: 50px;
    cursor: pointer;
    border: solid 1px #f2dabd;
}

input[type="button"]:hover {
    background-color: #22293b;
}

@media only screen and (max-width: 600px) {
    article {
        width: calc(100% - 10px);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

spinner {
    position: relative;

    width: 64px;
    height: 64px;

    top: 25vh;
    left: calc(50% - 32px);

    animation: spin 10s infinite;
}

spinner div {
    box-sizing: border-box;
    position: absolute;
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-radius: 50%;
    animation: spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #f2dabd transparent transparent transparent;
}

spinner div:nth-child(1) {
    animation-delay: -0.45s;
}

spinner div:nth-child(2) {
    animation-delay: -0.3s;
}

spinner div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
